!!! 5
%html
  %head
	%title Adeeb Ahmed - Blog
	%link{rel: "stylesheet", href: "http://static.tumblr.com/zkqisnq/zzqo6iyh1/screen.css"}
  %body
	%header#header
	  %h1.title Adeeb Ahmed's personal blog
		%h3 for lack of a better name...
	#flex-container
	  %main.item
	%footer#footer
	
	