!!! 5
%html
  %head
	%title Adeeb Ahmed - Blog
	%link{rel: "stylesheet", href: " https://secure.static.tumblr.com/zkqisnq/5Ngo6j03r/screen.css"}
  %body
	%header#header
		%h1.title {Title}
		%h3.title {description}
		#flex-container
			{block:Posts}
			{block:Text}
				%article
					%header
						%h4.postType Blog Post
						{block:Title}
							%h2.postTitle
								%a{ :href => "{Permalink}"} {Title}
						{/block:Title}
					.section	
						.main 
							{body}
					%footer#footer
			{/block:Text}
			{/block:Posts}

